[ss_blocks_block]::before {
	pointer-events: none;
	content: var(--before);
	opacity: .3;
}

[ss_blocks_block]::after {
	pointer-events: none;
	content: var(--after);
	opacity: .3;
}

[ss_blocks_block][focus-state="focused"] {
	box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
	/* box-shadow: inset 4px 4px 8px 7px rgba(21, 150, 250, 1); */

	/* outline: 1px solid rgba(255,255,255,0.2);
	outline-offset: 2px; */

	background: transparent;
	caret-color: white;
	min-width: 1rem;
}

/* [ss_blocks_block][focus-state="focused"][empty] {
	background: rgba(255,255,255,0.1);
	min-width: 1rem;
} */

[ss_blocks_block] {
	white-space: break-spaces;
	display: inline;
}

/* [ss_blocks_block][empty] { */
	/* caret-color: transparent; */
/* } */
